@charset "utf-8";
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// General CSS Starts                                                                                 */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.iframeWrap > div {height:100%;}

* {
	margin:0;
	border:0;
	padding:0;
	list-style:none;
	outline:none;
}
body {
	font-family:'Helvetica Neue', Arial, sans-serif;
	font-size:12px;
	line-height:18px;
	color:#555;
	background:url(../images/bgPat.png);
	overflow:hidden;
	height:100%;
	-webkit-text-size-adjust:none;
}
html {
}
div, a, img, p {
	display:block;
	overflow:hidden;
	position:relative;
}
p {
	margin-bottom:18px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// General CSS Ends                                                                                   */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Structure CSS Starts                                                                               */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#headerWrap {
	z-index: 9999;
	position: fixed;
	width: 100%;
	display:block;
	overflow:visible;
	height:64px;
	background-color:#202428;
}
#headerWrap a {
	text-decoration: none;
}
.header {
	display: block;
	overflow:visible;
	height:64px;
	margin-left: auto;
	margin-right:auto;
	min-width: 900px;
	padding-left:25px;
	padding-right:19px;
	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.5);
	z-index:99;
}
a.logo {
	display: block;
	background: url(../images/logo.png) 0 0 no-repeat;
	width: 165px;
	height: 36px;
	padding: 0;
	position: relative;
	margin-right: 25px;
	overflow:hidden;
	float:left;
	margin-top:14px;
}
.itemsListControlsMainWrap {
	background-color:#15181a;
}
.itemsListControlsWrap {
	margin-top:-360px;
	padding-left:65px;
	padding-right:65px;
}
.itemsListWrap {
	height:360px;
}
.itemsList {
	padding-top:25px;
	padding-bottom:25px;
	height:360px;
	position:absolute;
	top:0px;
	left:0px;
}


.itemsListControls {
	height:40px;
	position:absolute;
	top:160px;
	width:40px;
	z-index:99;
	background:#FFFFFF url(../images/controlsBg.png) 0 0 no-repeat;
	border-radius:0px 2px 2px 0px;
	-webkit-border-radius:0px 2px 2px 0px;
	-moz-border-radius:0px 2px 2px 0px;
}
.itemsListLeft {
	left:0px;
	background-position:-40px 0px;
}
.itemsListRight {
	right:0px;
	border-radius:2px 0px 0px 2px;
	-webkit-border-radius:2px 0px 0px 2px;
	-moz-border-radius:2px 0px 0px 2px
}
.itemsListLeft:hover {
	background-position:-40px -40px;
}
.itemsListRight:hover {
	background-position:0px -40px;
}
.item {
	float:left;
	display:block;
	overflow:visible;
	border:3px solid #202428;
	margin-right:25px;
	transition:border-color 0.2s;
	-webkit-transition:border-color 0.2s;
	-moz-transition:border-color 0.2s;
	background:#202428 url(../images/loading.gif) center center no-repeat;
	border-radius:2px;
	-wekit-border-radius:2px;
	-moz-border-radius:2px;
}
.currentItem {
	border-color:#ffe400;
	transition:border-color 0.2s;
	-webkit-transition:border-color 0.2s;
	-moz-transition:border-color 0.2s;
}
.item:hover {
	border-color:#414548;
	transition:border-color 0.2s;
	-webkit-transition:border-color 0.2s;
	-moz-transition:border-color 0.2s;
}
.itemType {
	padding-top:8px;
	padding-bottom:10px;
	font-size:10px;
	text-transform:uppercase;

	position:absolute;
	top:10px;
	right:-10px;
	color:#fff;
	padding-right:10px;
	padding-left:10px;
	height:15px;
	line-height:15px;
	margin:0px;
	z-index:99;
	border-radius:2px;
	-wekit-border-radius:2px;
	-moz-border-radius:2px;
}
.templateItem {
	background-color:#f0785c;
}
.themeItem {
	background-color:#e34e47;
}
.themesListWrap {
	float:right;
	margin-right:35px;
	position:relative;
	overflow:visible;
	margin-top:14px;
}
.selectThemeBtn {
	display: block;
	overflow:hidden;
	width: 210px;
	height: 36px;
	line-height: 36px;
	font-size: 13px;
	color: #FEFEFE;
	background: url(../images/themes_panel.png) 0 0 no-repeat;
	position: relative;
	padding-left: 15px;
	z-index:9999;
}
.selectThemeBtnDown {
	background-position:0px -36px;
	color:#a6a8a9;
}
.purchase {
	display: block;
	width: 121px;
	height: 30px;
	background: url(../images/purchaseBtn.png) no-repeat 0 0;
	padding: 0;
	position: relative;
	margin-right: 29px;
	float:right;
	overflow:hidden;
	margin-top:17px;
}
.removeFrame {
	display: block;
	width: 30px;
	height: 36px;
	background: url(../images/removeFrameBtn.png) no-repeat 0 0;
	padding: 0;
	position: relative;
	float:right;
	overflow:hidden;
	margin-top:14px;
	margin-left:10px;
}
.purchase:hover {
	background-position: 0px -30px;
}
.removeFrame:hover {
	background-position: 0px -36px;
}
.responsiveIcon {
	float:right;
	display:none;
	overflow:hidden;
	height:36px;
	width:30px;
	margin-right:10px;
	margin-top:14px;
}
.responsiveIcon:hover {
	background-position:0px -36px;
}
.fullIcon {
	background:url(../images/fullIcon.png) 0 0 no-repeat;
}
.tabletIconPortrait {
	background:url(../images/tabletIconPortrait.png) 0 0 no-repeat;
}
.tabletIconLandscape {
	background:url(../images/tabletIconLandscape.png) 0 0 no-repeat;
}
.smartIconPortrait {
	background:url(../images/smartIconPortrait.png) 0 0 no-repeat;
}
.smartIconLandscape {
	background:url(../images/smartIconLandscape.png) 0 0 no-repeat;
}
.currentMode {
	background-position:0px -36px;
}
.iframeMainWrap {
	display:block;
	overflow:hidden;
	height:100%;
}
.iframeOuterWrap {
	padding-top:64px;
}
.largeBody {
	overflow-y:auto;
}
#iframeWrap {
	/*min-height:1080px!important;*/
	padding-top: 0px;
	border:none;
	background:none;
	width:100%;
	box-shadow:0px 0px 25px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0px 0px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0px 0px 25px rgba(0, 0, 0, 0.5);
}

#iframe{
	min-height:900px;	
}

.iframeWrapMargin {
	margin-bottom:20px;
}
.adjustingFrame {
	position:absolute;
	width:100%;
	height:100%;
	display:none;
	background:#202428 url(../images/loading.gif) center center no-repeat;
	z-index:9990;
}
#iframe {
	margin:0px;
	border:none;
	background:none;
	width:100%;
	height:100%;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////// Structure CSS Ends                                                                                */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
