.custom-location {
	color: #ffffff;
	display: block;
	font-family: "Lato",sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 0.8px;
}

html body div.all-elements div#content.page-content div.container.spazio-fondo.center-text {
	margin-bottom: 20px;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}
.push {
	height: 60px; /* .push must be the same height as .footer */
}

html body div.all-elements {
	height: 100%;
}

html body div.all-elements div#content.page-content {
	height: 100%;
}