.hours{
	border-radius: 4px 0px 0px 4px;
	width:19%;
	font-size:12pt;
	float:left;
	background-color: #ffc966;
	border-right:solid 1px #1B252D; 
}
.room{
	width:80%;
    display:inline-block;
}