.custom-location {
	color: #ffffff;
	display: block;
	font-family: "Lato",sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 0.8px;
}

html body div.all-elements div#content.page-content div.container.spazio-fondo.center-text {
	margin-bottom: 20px;
}

html, body {
	height: 100%;
}

.all-elements {
	display: table;
	height: inherit;
	width: 100%;
}

.page-content{
	display: table;
	width: inherit;
	height: inherit;
}

.wrapper {
	display: table-row;
	width: inherit;
	margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}

.push {
	height: 60px; /* .push must be the same height as .footer */
}

.footer {
	display: table-row;
	height: 60px;
}

.povo-nav{				background-image:url(../images/icon/elctrical/computerimac.png);}
.mesiano-nav{			background-image:url(../images/icon/tools/tools.png);}
.lettere-nav{			background-image:url(../images/icon/misc/books.png);}
.sociologia-nav{		background-image:url(../images/icon/user/group2.png);}
.giurisprudenza-nav{	background-image:url(../images/icon/user/adminuser2.png);}
.psicologia-nav{		background-image:url(../images/icon/communication/computerimac.png.png);}
.cibio-nav{				background-image:url(../images/icon/misc/chemical.png);}